<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total Commission</th>
      <th>Net Sales</th>
      <th>Net Leads</th>
      <th>Clicks</th>
      <th>EPC</th>
      <th>Impressions</th>
      <th>CR</th>
    </tr>
  </thead>
  <tbody>
    <% affluent.forEach(function (data) {%>
    <tr>
      <td><%= data.date %></td>
      <td><%= data.total_commission %></td>
      <td><%= data.net_sales %></td>
      <td><%= data.net_leads %></td>
      <td><%= data.clicks %></td>
      <td><%= data.epc %></td>
      <td><%= data.impressions %></td>
      <td><%= data.cr %></td>
    </tr>
    <% })%>
  </tbody>
</table>